<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>HZNU酒店管理系统</title>
  <link rel="icon" href="../../public/favicon.ico" type="image/x-icon">
</head>
<body>
  <div id="root"></div>
</body>
</html>